html, body {
  background: #333;
}
.v-application .transparente {
  height: 40px !important;
}
.v-dialog:not(.v-dialog--fullscreen) {
  max-height: 90%;
  overflow: auto;
}

.noDrag {
  -webkit-app-region: no-drag;
}
.drag {
  -webkit-app-region: drag;
}
.v-btn.btnBarr:hover::before {
  opacity: 1 !important;
}

.v-subheader {
  height: auto;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}


::-webkit-scrollbar {
  width: 10px;
  background-color: #202324;
  color: #aba499;
}
::-webkit-scrollbar-corner {
  background-color: #181a1b;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #575e62;
}
::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}