html, body {
  background: #333;
}
.v-application {
  display: flex;
  background: #242424;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #202324;
  color: #aba499;
}
::-webkit-scrollbar-corner {
  background-color: #181a1b;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #575e62;
}
::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}